Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.assets.cache
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.pdb
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.dll
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.FileListAbsolute.txt
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.CoreCompileInputs.cache
Infrastructure/obj/Debug/netcoreapp3.1/Infrastructure.csproj.AssemblyReference.cache
Infrastructure/obj/project.nuget.cache
Infrastructure/obj/project.assets.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/bin/Debug/netcoreapp3.1/Persistence.pdb
Infrastructure/bin/Debug/netcoreapp3.1/Persistence.dll
Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.dll
Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.pdb
Infrastructure/bin/Debug/netcoreapp3.1/Infrastructure.deps.json
Infrastructure/bin/Debug/netcoreapp3.1/Domain.pdb
Infrastructure/bin/Debug/netcoreapp3.1/Domain.dll
Infrastructure/bin/Debug/netcoreapp3.1/Application.pdb
Infrastructure/bin/Debug/netcoreapp3.1/Application.dll
Domain/obj/Debug/netstandard2.1/Domain.pdb
Domain/obj/Debug/netstandard2.1/Domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/netstandard2.1/Domain.dll
Domain/obj/Debug/netstandard2.1/Domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/netstandard2.1/Domain.assets.cache
Domain/obj/Debug/netstandard2.1/Domain.csproj.AssemblyReference.cache
Domain/obj/project.nuget.cache
Domain/obj/project.assets.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.dgspec.json
Domain/bin/Debug/netstandard2.1/Domain.pdb
Domain/bin/Debug/netstandard2.1/Domain.dll
Application/obj/Debug/netstandard2.1/Application.pdb
Application/obj/Debug/netstandard2.1/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/netstandard2.1/Application.dll
Application/obj/Debug/netstandard2.1/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/netstandard2.1/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/netstandard2.1/Application.csproj.AssemblyReference.cache
Application/obj/Debug/netstandard2.1/Application.assets.cache
Application/obj/project.nuget.cache
Application/obj/project.assets.json
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.dgspec.json
Application/bin/Debug/netstandard2.1/Persistence.pdb
Application/bin/Debug/netstandard2.1/Domain.dll
Application/bin/Debug/netstandard2.1/Persistence.dll
Application/bin/Debug/netstandard2.1/Domain.pdb
Application/bin/Debug/netstandard2.1/Application.pdb
Application/bin/Debug/netstandard2.1/Application.dll
Application/bin/Debug/netstandard2.1/Application.deps.json
API/obj/Debug/netcoreapp3.1/project.razor.json
API/obj/Debug/netcoreapp3.1/API.pdb
API/obj/Debug/netcoreapp3.1/API.genruntimeconfig.cache
API/obj/Debug/netcoreapp3.1/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/netcoreapp3.1/API.dll
API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/API.csproj.CoreCompileInputs.cache
API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/project.nuget.cache
API/obj/project.assets.json
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.EntityFrameworkCore.targets
API/bin/Debug/netcoreapp3.1/Persistence.pdb
API/bin/Debug/netcoreapp3.1/Persistence.dll
API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Debug/netcoreapp3.1/Infrastructure.pdb
API/bin/Debug/netcoreapp3.1/Infrastructure.dll
API/bin/Debug/netcoreapp3.1/Domain.pdb
API/bin/Debug/netcoreapp3.1/Domain.dll
API/bin/Debug/netcoreapp3.1/Application.pdb
API/bin/Debug/netcoreapp3.1/Application.dll
API/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
API/bin/Debug/netcoreapp3.1/API.pdb
API/bin/Debug/netcoreapp3.1/API.dll
API/bin/Debug/netcoreapp3.1/API.deps.json
API/bin/Debug/netcoreapp3.1/API.dll
